@use '/src/styles/constants/colors';

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: colors.$GRAY3;

  svg {
    margin-right: 6px;
    fill: currentColor;
  }
}
