@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/mixins/responsive';

.pageContainer {
  max-width: sizes.$MAX_WIDTH;
  min-height: calc(100vh - 90px);
  padding: sizes.$GNB_HEIGHT_M 20px 20px;
  margin: 0 auto;

  @include responsive.after(SD) {
    min-height: 100vh;
    padding-top: sizes.$GNB_HEIGHT;
  }
}
