@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/responsive';

.searchForm {
  position: absolute;
  top: sizes.$GNB_HEIGHT_M;
  right: 20px;
  left: 20px;
  z-index: levels.$PLACE_INFO;
  max-width: 380px;
  padding: 12px 14px;
  margin-top: 20px;
  background-color: colors.$WHITE;
  border-radius: sizes.$BORDER_RADIUS;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 20%), 0 -1px 0 rgba(0, 0, 0, 2%);

  @include responsive.after(SD) {
    top: sizes.$GNB_HEIGHT;
  }

  div {
    display: flex;
    align-items: center;
    width: 100%;

    svg {
      margin-right: 8px;
      fill: colors.$PRIMARY;
    }

    input {
      flex: 1;
      color: colors.$GRAY3;

      &::placeholder {
        color: colors.$GRAY9;
      }
    }
  }
}

.mapWrapper {
  position: relative;
  width: 100vw;
  height: 100vh;

  .infoWindow {
    padding: 5px;
    font-size: 14px;
    color: colors.$GRAY3;
  }
}

.placeCard {
  position: absolute;
  right: 20px;
  bottom: 20px;
  left: 20px;
  z-index: levels.$PLACE_INFO;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 12px;
  color: colors.$GRAY3;
  background-color: colors.$WHITE;
  border-radius: sizes.$BORDER_RADIUS;
  box-shadow: rgba(50, 50, 93, 25%) 0 13px 27px -5px, rgba(0, 0, 0, 30%) 0 8px 16px -8px;

  &.noResult {
    justify-content: center;
  }

  .left {
    display: flex;
    align-items: center;

    span {
      display: block;
      margin: 0 8px;
      font-size: 14px;
      line-height: 1.3;
    }

    .title {
      margin-bottom: 8px;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .right {
    display: flex;
    align-items: center;

    a {
      color: colors.$PRIMARY;

      svg {
        width: 30px;
        height: 30px;
        margin-right: 8px;

        @include responsive.after(SD) {
          margin-right: 20px;
        }
      }
    }
  }

  svg {
    fill: colors.$GRAY9;
  }

  button:disabled {
    cursor: default;

    svg {
      fill: transparent;
    }
  }
}

@include responsive.after(SD) {
  .textWrapper {
    margin-left: 20px;
  }
}
