@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/mixins/responsive';

.imageList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 24px;

  li {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: sizes.$BORDER_RADIUS;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.guideImages {
  li {
    border: 1px solid colors.$GRAYD;
  }

  @include responsive.after(SD) {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

.sampleImages {
  @include responsive.after(ML) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include responsive.after(SD) {
    grid-template-columns: repeat(4, 1fr);
  }
  @include responsive.after(LD) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.sampleImagesInModal {
  @include responsive.after(ML) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include responsive.after(SD) {
    grid-template-columns: repeat(4, 1fr);
  }

  button {
    width: 100%;
    height: 100%;
  }
}
